.privacy-policy-page-root {
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.privacy-policy-main-container {
    display: block;
}

.privacy-policy-header-parallax {
    position: relative;
    z-index: 0;
    background-image: url(../../Assets/Images/signin_cover.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    display: block;
    height: 300px;
}

.privacy-policy-main-contents {
    display: block;
    width: 90%;
    margin-bottom: 30px;
}

.privacy-policy-intro-container {
    display: flex;
    padding: 5px;
    margin-bottom: 10px;
}

.privacy-policy-intro-des {
    font-size: 15px;
    line-height: 1.7857;
    color: #888;
    font-family: "Public Sans", sans-serif;
    text-align: justify;
}


@media screen and (max-width: 800px) {
    .privacy-policy-intro-des {
        font-size: 11px;
    }

    .header-parallax-title {
        font-size: 2rem;
    }
}