.input-image-field-root {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 1px solid #D7DBDD;
}

.input-image-field-text {
    align-items: center;
    justify-content: center;
    color: #fff;
}