.custom_button_contained {
    display: flex;
    color: #fff;
    border: 1px solid #31e2f2;
    padding: 12px;
    background: #31e2f2;
    border-radius: 10px;
    transition: .4s all ease;
    text-transform: uppercase;
    font-size: 0.85rem;
    min-width: 80px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    letter-spacing: 0.1rem;
    font-weight: 600;
}

.custom_button_outlined {
    display: flex;
    color: #fff;
    border: 1px solid #31e2f2;
    padding: 12px;
    background: transparent;
    border-radius: 10px;
    transition: .4s all ease;
    text-transform: uppercase;
    font-size: 0.85rem;
    min-width: 80px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    letter-spacing: 0.1rem;
}