.home-page-root {
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgb(250, 251, 251);
    background-color: rgb(227, 242, 253);
    background-color: rgb(255, 255, 255);
}

.section-root {
    margin-top: 10px;
    margin-bottom: 30px;
}

.home-main-adverticement {
    display: block;
}