.category-img {
    border-radius: 50%;
}

.shadow {
    border-radius: 50%;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.5);
}

.category-tabs-container {
    border-radius: 15px;
    margin-bottom: 25px;
    margin-top: 10px;
}

.category-tabs {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    align-items: center;   
    justify-content: center;
    list-style: none
}

.category-tabs-item {
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 15px;
    margin: 15px;
    box-shadow: rgb(90 114 123 / 11%) 0px 7px 30px 0px;
    padding: 10px;
    width: 100px !important;
    align-items: center !important;
    justify-content: center !important;
    display: flex;
    text-align: center;
}

.category-tabs:first-child {
    padding-left: 0;
}

.category-tabs-link {
    text-decoration: none;
}

.category-tabs-link .text {
    font-size: 0.9rem;
    font-weight: 600;
}

.category-item {
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    overflow: hidden;
    border-radius: 16px;
    margin: 15px;
    box-shadow: rgb(90 114 123 / 11%) 0px 7px 30px 0px;
    padding: 0px;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.category-item img {
    width: 80px;
    align-self: center;
    margin-top: 10px;
}


@media screen and (max-width: 800px) {
    .category-item-info span {
        font-size: 0.7rem;
    }

    .category-item img {
        width: 50px;
    }
}