.post-root {
    background: #4b4e5f;
    padding: 50px
}

.slick-list {
    margin-left: 15px;
    margin-right: 15px;
}

.slick-dots li.slick-active button:before {
    color: #31e2f2 !important;
}

.slick-dots li button:before {
    color: #31e2f2 !important;
}

.css-1hmv391-MuiStack-root .custom_button_outlined {
    color: #fff !important;
    border-color: #fff;
}