.signup-page-root {
    display: block;
    width: 100%;
    height: 100%;
    min-height: 90vh;
    background-color: rgb(255, 255, 255);
}

.signup-form {
    background-color: rgb(255, 255, 255);
    color: rgb(33, 43, 54);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: rgb(145 158 171 / 20%) 0px 0px 2px 0px, rgb(145 158 171 / 12%) 0px 12px 24px -4px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 16px 5px 25px 5px;
    padding: 25px;
}

.sign-form_header {
    align-items: center;
    justify-content: center;
}

.sign-form_header_wel {
    display: flex;
    flex-direction: column;
}

.signup-form_title {
    font-size: 1.2rem;
    margin: 0px 0px 8px;
    font-weight: 700;
    font-family: Public Sans, sans-serif;
    line-height: 1.57143;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
}

.signup-form_des {
    margin: 0;
    line-height: 1.4;
    font-size: 0.85rem;
    font-family: Public Sans,sans-serif;
    font-weight: 400;
    color: rgba(86, 101, 115, 0.7);
    letter-spacing: 0.05rem;
    margin-top: -10px;
}

.signup_form-input_wrapper {
    width: 100%;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.sign-form-input-container {
    margin-top: 35px;
}

.terms-conditions-root {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.terms-conditions-link {
    margin: 0px;
    font-weight: 600;
    line-height: 1.57143;
    font-size: 0.875rem;
    font-family: "Public Sans", sans-serif;
    color: rgb(0, 171, 85);
    text-decoration: none;
}

.signin-link-root {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
    margin-bottom: 20px;
}

.signin-link-para {
    margin: 0px;
    line-height: 1.57143;
    font-size: 0.875rem;
    font-family: "Public Sans", sans-serif;
    font-weight: 400;
}

.signin-link {
    margin: 0px;
    font-weight: 600;
    font-size: 0.875rem;
    font-family: "Public Sans", sans-serif;
    color: rgb(0, 171, 85);
    text-decoration: none;
    margin-left: 5px;
    letter-spacing: 0.05rem;
    margin-right: 10px;
}