.nav-link {
    color: #fff;
    border: 1px solid #31e2f2;
    padding: 10px;
    background: #31e2f2;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    border-radius: 10px;
    transition: all 400ms ease;
    height: 40px !important;
    width: 100px !important;
    font-weight: 600;
    align-self: center;
    align-items: center;
    justify-content: center;
    display: flex;
    letter-spacing: 0.1rem;
}

.nav-link:hover {
    -webkit-font-smoothing: antialiased;
    text-shadow: rgb(0 0 0 / 1%) 0 0 1px;
    background-color: transparent;
    color: #000;
}