body {
  margin: 0;
  font-family: 'Trebuchet MS';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Trebuchet MS';
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: rgb(202, 202, 207);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(21, 67, 96, 0.4);
  border-radius: 15px;
}